.header__preheader__right__search-form {
  display: none;
  padding: 1rem 0;
}

@media screen and (min-width: 992px) {
  .header__preheader__right__search-form {
    position: absolute;
    top: 1.8rem;
    right: 18%;
  }
}

.form {
  position: relative;
  display: block;
  overflow: inherit;
}

.form .form__item {
  display: block;
  clear: both;
  margin-bottom: 1.25rem;
}

.form .form__item label {
  display: block;
  margin-bottom: 0.25rem;
  color: #484848;
  font-weight: 900;
}

.form input[type="text"],
.form .form__textarea {
  width: 100%;
  max-width: 100%;
  color: #000000;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form .form__input {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1;
}

.form--search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.form--search .form__item {
  height: 2rem;
  margin-bottom: 0;
}

.form--search .form__item .form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2rem;
}

.form--search .form__item .button--submit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2rem;
  padding: 0.52rem;
  border: 1px solid #ffffff;
}

.form--search .form__item .button--submit:hover {
  background: #007dc3;
}

@media screen and (min-width: 992px) {
  .form--search .form__item .button--submit {
    border: none;
  }
}

.header__preheader__right__search-form .search-form__close {
  position: absolute;
  top: 30%;
  right: -1.5rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background: url(../images/close.svg) no-repeat center center;
  background-size: 0.75rem;
}

button, .button {
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #004b8d;
}

button:hover, button:focus-within, .button:hover, .button:focus-within {
  color: #ffffff;
  background-color: #007dc3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: 0 0 1.5rem 0;
}

figure.img-align-right {
  float: right;
  margin-left: 1.5rem;
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  figure.img-align-right {
    float: none;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 576px) {
  figure.img-align-right {
    float: none;
    margin-left: 0rem;
  }
}

figure.img-align-left {
  float: left;
  margin-right: 1.5rem;
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  figure.img-align-left {
    float: none;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 576px) {
  figure.img-align-left {
    float: none;
    margin-right: 0rem;
  }
}

.banner.main-content {
  display: block;
}

.full-image {
  background-image: url(../images/FLC_Campus-Winter-2018-383-1600px.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-image .contanier__heading {
  text-align: center;
}

.full-image .contanier__heading .title {
  color: #ffffff;
  font-size: 2.75rem;
  font-weight: 700;
}

.breadcrumb > .container > nav {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #cccccc;
}

.b-menu__link {
  text-decoration: none;
  color: #004b8d;
}

.b-menu__link .current_page {
  color: #000000;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  margin: auto;
  color: #000000;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 20px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
  font-family: "Gotham Narrow Book", sans-serif;
}

.menu .menu__item {
  position: relative;
  overflow: visible;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 0.15rem;
  outline: 0;
}

.menu .menu__item .menu__link {
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  display: block;
  text-decoration: none;
  background: none;
  line-height: 1;
}

.header {
  width: 100%;
  background: #ffffff;
}

.header .header__preheader {
  background: #004b8d;
}

.header .header__preheader .container .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__preheader .container .row .header__preheader__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header .header__preheader .container .row .header__preheader__left {
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .header .header__preheader .container .row .header__preheader__left {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header .header__preheader .container .row .header__preheader__left {
    display: none;
  }
}

.header .header__preheader .container .row .header__preheader__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header .header__preheader .container .row .header__preheader__right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .header .header__preheader .container .row .header__preheader__right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 576px) {
  .header .header__preheader .container .row .header__preheader__right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.menu--header__preheader-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu--header__preheader-left .menu__item .menu__link {
  position: relative;
  margin-right: 0.5rem;
  padding: 0;
  color: #ffffff;
  font-size: .75rem;
}

.menu--header__preheader-left .menu__item .menu__link:hover, .menu--header__preheader-left .menu__item .menu__link:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffffff;
          text-decoration-color: #ffffff;
}

.menu--header__preheader-left .menu__item .menu__link:after {
  position: absolute;
  right: -0.35rem;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu--header__preheader-left .menu__item:last-child .menu__link::after {
  position: absolute;
  right: -0.35rem;
  width: 1px;
  height: 100%;
  content: "";
  background: #004b8d;
}

.button--search {
  width: 1rem;
  height: 1rem;
  padding: 0;
  background: url(../images/magnifier.svg) no-repeat center;
  background-size: 0.875rem;
  outline: none;
}

.button--search:hover {
  background-color: #004b8d;
}

.button--search:focus {
  background-color: #004b8d;
}

.div--quick-menu {
  margin-left: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: .75rem;
  padding: 0 1rem;
  border-left: 1px solid;
  border-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.2);
}

.button--quick-links {
  position: relative;
  outline: none;
  padding: 0rem;
}

.button--quick-links:hover {
  background-color: #004b8d;
}

.button--quick-links:focus {
  background-color: #004b8d;
}

.button--quick-links:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -1rem;
  width: 1rem;
  height: 1rem;
  content: "";
  background: url(../images/down-arrow-white.svg) no-repeat center;
  background-size: 0.5rem;
}

.quick-links {
  height: auto;
  display: none;
  margin-top: 1rem;
}

.quick-links > .row {
  overflow-y: hidden;
  height: auto;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .quick-links > .row {
    overflow-y: scroll;
    height: 70vh;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .quick-links > .row {
    overflow-y: scroll;
    height: 70vh;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .quick-links > .row {
    overflow-y: scroll;
    height: 70vh;
    padding-bottom: 3rem;
  }
}

.quick-links .text {
  display: block;
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  color: #ffffff;
  border-bottom: 1px solid;
  border-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.quick-links--col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  padding-right: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .quick-links--col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .quick-links--col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media screen and (max-width: 576px) {
  .quick-links--col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

p,
.text {
  margin-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

menu.menu--vertical .menu__item {
  margin-bottom: 0.15rem;
}

.menu--quicklinks .menu__item .menu__link {
  padding: 0.5rem 0.25rem;
  color: #ffffff;
  font-size: .75rem;
}

.menu--quicklinks .menu__item .menu__link:hover {
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  background: #003c70;
}

.menu--quicklinks .menu__item .menu__link:focus {
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  background: #003c70;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #ffffff;
  padding: 10px 40px;
}

.header__navbar .header__navbar__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32rem;
          flex: 0 0 32rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__navbar .header__navbar__logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .header__navbar .header__navbar__logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 576px) {
  .header__navbar .header__navbar__logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.header__navbar .header__navbar__links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin-top: -1.75rem;
}

@media screen and (min-width: 992px) {
  .header__navbar .header__navbar__links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 1200px) {
  .header__navbar .header__navbar__links {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header__navbar .header__navbar__links {
    display: none;
    overflow-y: scroll;
    height: 50vh;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .header__navbar .header__navbar__links {
    display: none;
    overflow-y: scroll;
    height: 50vh;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .header__navbar .header__navbar__links {
    display: none;
    overflow-y: scroll;
    padding-bottom: 3rem;
  }
}

.header__navbar-sticky {
  position: fixed;
  top: 0rem;
  z-index: 1000;
  width: -webkit-fill-available;
}

@media screen and (min-width: 992px) {
  .header__navbar-sticky {
    top: -2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .header__navbar-sticky {
    top: -2.5rem;
  }
}

.header__navbar-sticky + main {
  padding-top: 150px;
}

.menu .menu__item--dropdown {
  position: relative;
}

.menu .menu__item--dropdown > .menu {
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.25rem;
  margin: 0;
  min-width: 12.5rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: none;
  background: #004b8d;
}

.menu--main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu--main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .menu--main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .menu--main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu--main > .menu__item > .menu__link {
  padding: 1rem 1.25rem 1rem 2.5rem;
  color: #000000;
  background: none;
}

.menu--main > .menu__item > .menu__link > span {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  right: 0.25rem;
  width: 1rem;
  height: 1rem;
  content: "";
  background: url(../images/expand.svg) no-repeat center;
  background-size: 0.6rem;
}

.menu--main > .menu__item > .menu__link:focus {
  color: #004b8d;
}

.menu--main > .menu__item > .menu__link:focus > span {
  background: url("../images/shrink.svg") no-repeat center;
  background-size: 0.6rem;
}

.menu--main > .menu__item > .menu__link:focus:after {
  position: absolute;
  bottom: 0.65rem;
  left: 2.5rem;
  width: 2rem;
  height: 0.4rem;
  content: "";
  background: #004b8d;
}

.menu--main > .menu__item:hover > .menu__link {
  color: #004b8d;
}

.menu--main > .menu__item:hover span {
  background: url("../images/shrink.svg") no-repeat center;
  background-size: 0.6rem;
}

.menu--main > .menu__item:hover:after {
  position: absolute;
  bottom: 0.65rem;
  left: 2.5rem;
  width: 2rem;
  height: 0.4rem;
  content: "";
  background: #004b8d;
}

.menu--main > .menu__item--dropdown:hover > .menu,
.menu--main > .menu__item--dropdown:focus-within > .menu {
  top: 2.5rem;
  visibility: visible;
  opacity: 1;
}

.menu--main > .menu__item--dropdown > .menu .menu__link {
  padding: 0.5rem;
  text-transform: capitalize;
  color: #ffffff;
  border-bottom: 1px solid;
  border-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.2);
  background: none;
}

.menu--main > .menu__item--dropdown > .menu .menu__link:hover, .menu--main > .menu__item--dropdown > .menu .menu__link:focus {
  padding: 0.5rem 0 0.5rem 1rem;
  background: #003c70;
}

.navbar-toggler {
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-toggler {
    display: none;
  }
}

.navbar-toggler nav {
  border: 2px solid #ffffff;
  padding: 10px 15px;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
  left: 4px;
}

.animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 21px;
  left: 4px;
}

.header-preheader-left-copy {
  display: none;
  margin: 10px 0px;
  padding: 20px 0px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

.header-preheader-left-copy .menu--header-preheader-left-copy {
  list-style-type: none;
  list-style-image: none;
  color: #000000;
}

.header-preheader-left-copy .menu--header-preheader-left-copy .menu__item .menu__link {
  position: relative;
  margin-right: 0.5rem;
  padding: 10px 0px;
  color: #000000;
  font-size: 1rem;
}

.header-preheader-left-copy .menu--header-preheader-left-copy .menu__item .menu__link:hover {
  color: #004b8d;
}

.header-preheader-left-copy .menu--header-preheader-left-copy .menu__item .menu__link:focus {
  color: #004b8d;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content h1,
.main-content h2 {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.2rem;
  color: #004b8d;
  font-family: "Alfa Slab One", serif;
}

.main-content li {
  font-family: "Roboto", sans-serif;
}

.main-content p {
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.main-content figure {
  max-width: 25rem;
}

.main-content .main-content__area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1.5rem;
  margin: 0 0 1.7rem 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-content .main-content__area {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 0rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .main-content .main-content__area {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 576px) {
  .main-content .main-content__area {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 0rem;
  }
}

.main-content .community * {
  color: #ffffff;
}

.layout-container.main-content {
  padding: 2rem 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.a-menu {
  list-style: none;
}

.a-menu .a-menu__item {
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 1rem;
  background: url(../images/right-arrow-blue.svg) no-repeat center left;
  background-size: 0.5rem;
}

.a-menu .a-menu__item:hover {
  padding-left: 1.25rem;
  color: #004b8d;
  font-weight: 900;
}

.a-menu .a-menu__item .a-menu__link {
  color: #004b8d;
  text-decoration: underline;
}

.a-menu .a-menu__item .a-menu__link:hover {
  text-decoration: none;
}

.a-menu .a-menu__item .a-menu__link:focus {
  padding-left: 1.25rem;
  color: #004b8d;
  font-weight: 900;
  text-decoration: none;
}

.pane {
  clear: both;
}

.content-pane {
  width: -webkit-fill-available;
}

.community {
  position: relative;
  padding-top: 18rem;
  background: url(../images/Green_Mountain_BG.png) repeat-x top center;
}

.community:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, #849242));
  background-image: linear-gradient(to bottom, transparent 0%, #849242 0%);
}

.community__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 2rem 2rem 2rem;
}

.community__grid .community__head {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .community__grid .community__head {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .community__grid .community__head {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 576px) {
  .community__grid .community__head {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.community__grid .community__head h2 {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #ffffff;
  font-family: "Alfa Slab One", serif;
  font-size: 1.85rem;
}

.community__grid .community__head p {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.community__grid .community__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
  margin-bottom: 20px;
}

.community__grid .community__item h5 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.65rem;
}

.community__grid .community__item ul {
  margin-bottom: 1rem;
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .community__grid .community__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .community__grid .community__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 576px) {
  .community__grid .community__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 992px) {
  .community__grid .community__item:nth-child(2) {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .community__grid .community__item:nth-child(2) {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .community__grid .community__item:nth-child(2) {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .community__grid .community__item:nth-child(2) {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .community__grid .community__item:nth-child(3) {
    padding-left: 1rem;
    border-left: 1px solid;
    border-color: #ffffff;
    border-color: rgba(255, 255, 255, 0.2);
  }
}

@media screen and (min-width: 1200px) {
  .community__grid .community__item:nth-child(3) {
    padding-left: 1rem;
    border-left: 1px solid;
    border-color: #ffffff;
    border-color: rgba(255, 255, 255, 0.2);
  }
}

@media screen and (min-width: 992px) {
  .community__grid .community__item:last-child {
    padding-left: 1rem;
    border-left: 1px solid;
    border-color: #ffffff;
    border-color: rgba(255, 255, 255, 0.2);
  }
}

@media screen and (min-width: 1200px) {
  .community__grid .community__item:last-child {
    padding-left: 1rem;
    border-left: 1px solid;
    border-color: #ffffff;
    border-color: rgba(255, 255, 255, 0.2);
  }
}

.community__grid .community__item .cta {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding-right: 1rem;
  color: #ffffff;
  background: url(../images/right-arrow-heavy.svg) no-repeat right center;
  background-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.community__grid .community__item .cta:hover {
  padding-right: 1.25rem;
}

.community__grid .community__item .cta:focus {
  padding-right: 1.25rem;
}

.cards__grid .cards__head p {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.cards__item *,
.community__item * {
  max-width: 100%;
}

.cards {
  padding: 3rem 0;
  background: #edf6fb;
}

.cards__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__grid .cards__head {
  padding-right: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cards__grid .cards__head {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
    padding-right: 0rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .cards__grid .cards__head {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
    padding-right: 0rem;
  }
}

@media screen and (max-width: 576px) {
  .cards__grid .cards__head {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
    padding-right: 0rem;
  }
}

.cards__grid .cards__head h2 {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #007dc3;
  font-family: "Alfa Slab One", serif;
}

.cards__grid .cards__head p {
  color: #000000;
}

.cards__grid .cards__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  background: #004b8d;
  margin-right: 1rem;
}

.cards__grid .cards__item:last-child {
  margin-right: 0rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cards__grid .cards__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .cards__grid .cards__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .cards__grid .cards__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0rem;
    margin-bottom: 20px;
  }
}

.cards__grid .cards__item h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.cards__grid .cards__item p {
  font-size: 1rem;
  width: 100%;
  overflow: hidden;
  /* to set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (12) */
  max-height: 14.4em;
  /* create the ... */
  /* hide ... if we have text, which is less than or equal to max lines */
}

.cards__grid .cards__item p:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}

.cards__grid .cards__item p:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: #004b8d;
}

.cards__grid .cards__item .button--cta {
  position: absolute;
  bottom: 2rem;
  border: 2px solid #ffffff;
  background: #004b8d;
  text-transform: capitalize;
  font-weight: bold;
  left: 0;
  right: 0;
  margin: 0 6%;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cards__grid .cards__item .button--cta {
    position: relative;
    top: 1rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .cards__grid .cards__item .button--cta {
    position: relative;
    top: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .cards__grid .cards__item .button--cta {
    position: relative;
    top: 1rem;
  }
}

.cards__grid .cards__item .button--cta:hover {
  color: #004b8d;
  background: #ffffff;
}

.cards__grid .cards__item .button--cta:focus {
  color: #004b8d;
  background: #ffffff;
}

.main-content .main-content__sidebar {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-content .main-content__sidebar {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .main-content .main-content__sidebar {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 576px) {
  .main-content .main-content__sidebar {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.main-content .main-content__sidebar .div-sidebar {
  background: #edf6fb;
  padding: 30px 20px;
}

.main-content .main-content__sidebar .menu--sidebar .menu__link {
  color: #004b8d;
  text-decoration: none;
  padding: 0.75rem;
  text-transform: capitalize;
}

.main-content .main-content__sidebar .menu--sidebar .menu__link:hover, .main-content .main-content__sidebar .menu--sidebar .menu__link:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #004b8d;
          text-decoration-color: #004b8d;
}

.main-content .main-content__sidebar .menu--sidebar .menu__link.active {
  color: #ffffff;
  background: #004b8d;
  font-weight: 600;
}

.main-content .main-content__sidebar .menu--sidebar .menu__link.active:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffffff;
          text-decoration-color: #ffffff;
}

footer {
  color: #ffffff;
}

.footer__main {
  padding: 6rem 0;
  background: url(../images/footer_banner.jpg) no-repeat center;
  background-size: cover;
}

.footer__main > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__main__content {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .footer__main__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__main__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

.footer__main__content .title {
  color: #ffffff;
  font-size: 3rem;
}

.footer__main__content .text {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem;
}

.title.title--tertiary {
  font-family: "Alfa Slab One", serif;
}

p:last-child,
.text:last-child {
  margin-bottom: 1.4rem;
}

.footer__main__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .footer__main__cta {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12rem;
            flex: 0 0 12rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__main__cta {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12rem;
            flex: 0 0 12rem;
  }
}

.footer__main__cta .button.button--cta {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
  padding-right: 40px;
  text-align: left;
  background: #007dc3 url(../images/right-arrow-heavy.svg) no-repeat 90% center;
  background-size: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer__main__cta .button.button--cta:hover {
  background-color: #004b8d;
  background-position-x: 95%;
}

.footer__main__cta .button.button--cta:focus {
  background-color: #004b8d;
  background-position-x: 95%;
}

.footer .footer__area {
  background: #004b8d url(../images/moubg.png) repeat-x center bottom;
  background-size: contain;
  color: #ffffff;
  padding-top: 3rem;
}

.footer .footer__area .container {
  max-width: 1248px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer__area .container .grid__item {
  margin-bottom: 2rem;
}

.footer .footer__area .container .grid__item h4 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.75rem;
  font-weight: bold;
}

.footer .footer__area .container .grid__item--address {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media screen and (min-width: 992px) {
  .footer .footer__area .container .grid__item--address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__area .container .grid__item--address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

.footer .footer__area .container .grid__item--address .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}

.footer .footer__area .container .grid__item--address .contact-info span {
  display: block;
}

.footer .footer__area .container .grid__item--address .contact-info .contact-info__address {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 1.2rem;
  color: #ffffff;
  background: url(../images/marker.svg) no-repeat top left;
  background-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 992px) {
  .footer .footer__area .container .grid__item--address .contact-info .contact-info__address {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__area .container .grid__item--address .contact-info .contact-info__address {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
}

.footer .footer__area .container .grid__item--address .contact-info__number span {
  padding-left: 1.2rem;
}

.footer .footer__area .container .grid__item--address .contact-info__number span:first-child {
  background: url(../images/phone.svg) no-repeat center left;
  background-size: 0.75rem;
}

.footer .footer__area .container .grid__item--address .contact-info__number span:last-child {
  background: url(../images/fax.svg) no-repeat center left;
  background-size: 0.875rem;
}

.footer .footer__area .container .grid__item--address a.grid__item--address__contact-admission {
  display: block;
  margin-top: 1rem;
  padding-left: 1.5rem;
  color: #ffffff;
  background: url(../images/mail.svg) no-repeat center left;
  background-size: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.footer .footer__area .container .grid__item--admin {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media screen and (min-width: 992px) {
  .footer .footer__area .container .grid__item--admin {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__area .container .grid__item--admin {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

.footer .footer__area .container .grid__item--media-kit,
.footer .footer__area .container .grid__item--tools {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media screen and (min-width: 992px) {
  .footer .footer__area .container .grid__item--media-kit,
  .footer .footer__area .container .grid__item--tools {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__area .container .grid__item--media-kit,
  .footer .footer__area .container .grid__item--tools {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }
}

.footer .footer__area .container .grid__item--social-links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .footer .footer__area .container .grid__item--social-links {
    margin-left: 34%;
    margin-top: -7.5rem;
    margin-bottom: 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__area .container .grid__item--social-links {
    margin-left: 34%;
    margin-top: -7.5rem;
    margin-bottom: 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

.footer .footer__area .container .grid__item--social-links .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__area .container .grid__item--social-links .social-links .social-link {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.footer .footer__area .container .grid__item--social-links .social-links .social-link .fab:hover {
  color: #fdbb30;
}

.footer .footer__area .container .grid__item--social-links .social-links .social-link:focus .fab {
  color: #fdbb30;
}

.footer .footer__area .container a {
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: none;
  padding: 0;
}

.footer .footer__area .grid .menu .menu__item .menu__link {
  margin-bottom: 0.75rem;
}

.footer .footer__area .grid .menu .menu__item .menu__link:hover {
  color: #fdbb30;
  text-decoration: underline;
}

.footer .footer__area .grid .menu .menu__item .menu__link:focus {
  color: #fdbb30;
  text-decoration: underline;
}

.footer .footer__area .footer__bottom {
  margin: 3rem auto 0 auto;
  padding: 2rem 0 1rem;
  font-size: 0.875rem;
  border-top: 1px solid;
  border-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 992px) {
  .footer .footer__area .footer__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__area .footer__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .footer__area .footer__bottom .copyright {
  margin-bottom: 10px;
}

.footer .footer__area .footer__bottom .links {
  margin-bottom: 10px;
}

.footer .footer__area .footer__bottom .links .menu--footer-links {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer__area .footer__bottom .links .menu--footer-links .menu__item {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #ffffff;
}

.footer .footer__area .footer__bottom .links .menu--footer-links .menu__item:first-child {
  border-left: none;
}

.footer .footer__area .footer__bottom .links .menu--footer-links .menu__item .menu__link:hover {
  color: #fdbb30;
  text-decoration: underline;
}

.footer .footer__area .footer__bottom .links .menu--footer-links .menu__item .menu__link:focus {
  color: #fdbb30;
  text-decoration: underline;
}

.footer .footer__area .footer__bottom .links .menu--footer-links:first-child {
  border-left: none;
}
/*# sourceMappingURL=main.css.map */