.main-content {
    .main-content__sidebar {
        flex-basis: 30%;
        margin-bottom: 20px;

        @include breakpoint(medium) {
            flex-basis: 100%;
        }

        @include breakpoint(small) {
            flex-basis: 100%;
        }

        @include breakpoint(extra-small) {
            flex-basis: 100%;

        }

        .div-sidebar {
            background: $color-light-grayish-blue;
            padding: 30px 20px;
        }

        .menu--sidebar .menu__link {
            color: $color-dark-blue;
            text-decoration: none;
            padding: 0.75rem;
            text-transform: capitalize;

            &:hover,
            &:focus {
                text-decoration: underline;
                text-decoration-color: $color-dark-blue;

            }

            &.active {
                color: $color-white;
                background: $color-dark-blue;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $color-white;
                }
            }
        }
    }
}