    $color-black:#000000;
    $color-white:#ffffff;
    $color-light-grayish-blue:#edf6fb;
    $color-strong-blue: #007dc3;
    $color-dark-blue:#004b8d;
    $color-very-dark-blue:#003c70;
    $color-light-gray:#cccccc;
    $color-very-dark-gray: #484848;
    $color-bright-orange: #fdbb30;
    $color-dull-yellow-green: #849242;
    $opacity:0.2;
