    $color-black:#0f0f0f;
    $color-white:#fff;
    $color-blue-lighter:#edf6fb;
    $color-blue-light: #007dc3;
    $color-blue-dark:#004b8d;
    $color-blue-darker:#003c70;
    $color-grey-light:#ccc;
    $color-grey-dark: #484848;
    $color-orange-light: #fdbb30;
    $color-green-light: #849242;
    $color-white-alpha:rgba(255,255,255,0.2);
